/*홈페이지 제목 배경 색깔 변경*/
#header {
    width: 960px;  background: rgba(197, 179, 19, 0.822);
}

/*홈화면으로 이동 글자 반응 선택자*/
h4:hover {color: rgb(255, 230, 0);}

/*강아지 이름 인기 순위별 글자 색상 변경*/
li:first-child {color: rgb(252, 4, 4);}
li:nth-child(2) {color: rgb(252, 186, 4);}
li:nth-child(3) {color: rgb(83, 252, 4);}
li:nth-child(4) {color: rgb(29, 4, 252);}
li:nth-child(5) {color: rgb(68, 45, 124);}

/*회원가입 화면으로 이동 글자 반응 선택자*/
h3:hover {color: rgb(255, 8, 0);}

/*배경 이미지*/
body{   
    background-image: url(../자료/강아지배경.png);
    background-attachment: fixed;
    background-repeat: repeat-x;
}

/* 반응형 웹 */
@media screen and (max-width: 767px){
        body {background-image: url(../자료/강아지배경2.jpg);}
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    body {background-image: url(../자료/강아지배경3.jpg);}
}   

/*one true 레이아웃*/
* {margin: 0; padding: 0;}

body{
        width: 960px;
        margin: 0  auto;
}

#top {overflow: hidden;}
#t_bottom {background-color: white}

#middle {overflow: hidden;}
#m_left {float: left; width: 400px; background-color: rgba(251, 252, 212);}
#m_right {float: right; width: 560px; background-color: rgba(251, 252, 212);}

/*글자 중앙 정렬*/
#top {
    text-align: center;
}
#middle {
    text-align: center;
}
#bottom h2 {
    text-align: center;
}